.head-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-left: 10px;
  transition: opacity .3s ease;
}


body {
  background: rgb(30,30,30); 
}

.welcome-bg{
  padding: 0;
  height: 665px;
  width: 100%;
  z-index: 1;
  background: url('./bg.jpg');
  filter: blur(8px) brightness(50%);
  
}


.front-message{
  z-index: 3;
  position:absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  color: #76e657;
  
}

.front-message h1{
  font-size: 65px;
  font-weight: bolder;

}

.front-message h3{
  font-size: 25px;

}